body {
    overflow: hidden;
    font-family: serif;
    background-color: #000198;
    background-image: url("mta.jpg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    color: white;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

header {
    background-color: #DADCE0;
    color: black;
    padding: 15px 20px;
    border-bottom: 3px solid #ffcc00;
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

nav {
    background-color: #DADCE0;
    color: black;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ffcc00;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

h2 {
    color:yellow;
}

.main {
    height: 78vh;
    width: 100%;
    display: flex;
}

.status{
    width: 300px;
    flex-grow: 1;
    padding: 15px;
}

.links{
    width: 300px;
    margin: auto;
    padding-left: 20px;
    text-align: left;
}

.left-panel {
    width: 20%;
}

.middle-panel {
    width: 60%;
}

.right-panel {
    padding-top: 20px;
    width: 20%;
}

.useful-links {
    justify-content: flex-end;
}

/* .status-section,
.news-section {
    margin-bottom: 20px;
}

.status-section table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
} */

th,td {
    /* border: 1px solid #999; */
    padding-inline: 8px;
    padding-block: 6px;
    text-align: left;
}

/*.status-section th {
    background-color: #f0f0f0;
} */

footer {
    background-color: #DADCE0;
    color: black;
    text-align: left;
    padding: 10px;
    border-top: 3px solid #ffcc00;
    font-size: 12px;
}